{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Table</title>
    <link rel="stylesheet" href="{% static 'attendance/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>

    {% if not noclass %}
        <div class="heading">
            <h2 id="Class"></h2>
            <p> ⓘ This page is updated every 5 min</p>
            <a href="/accounts/login"> login </a>
        </div>

        <table class="table table-striped table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody id="attendanceTableBody">
                <!-- Table rows will be added dynamically using JavaScript -->
            </tbody>
        </table>
        <script>
            const markAttendanceURL = "{{ markAttendanceURL }}";
            const getAttendanceURL = "{{ getAttendanceURL }}";
        </script>
        <script src="{% static 'attendance/script.js' %}"></script>
    {% else %}
        <p>No class as of now</p>
    {% endif %}
</body>
</html>
