{% load static %}
<!doctype html>
<html>
  <head>
    <script
      type="module"
      src="/static/attendance/index.runtime.0dcb3c69.js"
    ></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {% if noclass %}
    <p>No class as of now</p>
    <a href="/admin/attendance/subjectclass/"><button>Search different class</button></a>
    {% else %}

    <link href="/static/attendance/index.bb1d1362.css" rel="stylesheet" />
    <div id="root">Loading</div>
    <script type="module" src="/static/attendance/index.066a8c5c.js"></script>
    <script>
      const markAttendanceURL = "{{ markAttendanceURL }}";
      const getAttendanceURL = "{{ getAttendanceURL }}";
    </script>
    {% csrf_token %}
    <script>
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    {% endif %}
  </body>
</html>
