{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{data.student.name}}</title>
        <link
            rel="stylesheet"
            href="{% static 'attendance/student_attendance_styles.css' %}"
        />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5607953789101029" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="watermark">Made by Akanksha Gaur</div>
        <div class="student-info">
            <h1>{{ data.student.name }}'s Attendance</h1>
            <table class="aggregated-info">
                <th>Cumulative Attendance</th>
                <tbody>
                    <tr>
                        <td class="bold">Total Classes: {{ overall_attendance.totalClassCount }}</td>
                    </tr>
                    <tr>
                        <td class="green">
                            Present:
                            {{ overall_attendance.Present }}
                        </td>
                    </tr>
                    <tr>
                        <td class="red">
                            Absent:
                            {{ overall_attendance.Absent }}
                        </td>
                    </tr>
                    <tr>
                      <td class="dark-red">
                          Proxy:
                          {{ overall_attendance.Proxy }}
                      </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Class Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th><select id="val">
                        <option value="None">Attendance Mandatory</option>
                        <option value="true">True</option>       
                        <option value="false">False</option>
                        </select>
                        </th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="attendanceData">
                {% for attendance_info in data.all_attendance %}
                <tr>
                    <td>{{ attendance_info.name }}</td>
                    <td>{{ attendance_info.class_start_time }}</td>
                    <td>{{ attendance_info.class_end_time }}</td>
                    <td>{{attendance_info.is_attendance_mandatory}}</td>

                    {% if attendance_info.status == 'Present' %}
                    <td class="green">Present</td>
                    {% elif attendance_info.status == 'Absent' %}
                    <td class="red">Absent</td>
                    {% else %}
                    <td class="dark-red">Proxy</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            let option = document.getElementById('val');
            let rows = document.querySelectorAll('#attendanceData tr');

            option.addEventListener("change",eventListener) 

            function filterrows(value) {
                for(let i =0; i<rows.length;i++){
                    let row = rows[i];
                    let cellvalue = row.cells[3].innerHTML;
                    if(cellvalue === value || value === "*"){
                        row.style.display = 'table-row';
                    }
                    else{
                        row.style.display = 'none';
                    }
                }
            }

            function eventListener(){
                let selectedvalue = option.value;
                
                if(selectedvalue === "true"){
                    filterrows("True")
                }
                else if(selectedvalue === "false"){
                    filterrows("False");
                }
                else{
                    filterrows("*");
                }
            }
            option.value = "None";
        </script>
    </body>
</html>
